.item{
    width: 300px;

    border-radius: 10px;
}

.item img{
    border-radius: 10px;
}
.price-con{
    display: flex;
    gap: 10px;
    align-items: center;

}
.old-price{
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    color: rgb(51, 49, 49);
}
.new-price{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(8, 8, 8);
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
    cursor: pointer;
}